
<div class="detail-container" >
  <div class="row">

  <div class="col-md-4" ><img  class='img-fluid' title="h" src={{detailedItem.url}}> </div>
  <div class="col-md-8" > <p>{{detailedItem.name}}</p>
    <p>{{detailedItem.description}}</p>
    <p> {{detailedItem.price}}</p>
    <select
      class="select-input"  title="select" [(ngModel)]="detailedItem.quantity" >
      <option  value='1' selected>1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <button  class="btn btn-primary " type="submit"  (click)="addtoCart()"> Add to Cart</button>
    <br>
    <a routerLink="/"  > Back to Product List</a>
  </div>
</div>

</div>
